<footer class="footer section_black" role="contentinfo">
  <div class="container">
    <span>&copy; {{ build.timestamp | dateToFormat('yyyy') }}</span>
    <a href="https://n-goltsova.ru/">
        Наталья Гольцова
    </a>
  </div>
</footer>
