.hello {
  width: 100%;
  height: 100vh;

  color: #F2E7DE;

  background: url(/assets/images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;

  & .container {
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  & .caption {
    display: block;
    max-width: 70%;

    text-align: right;
  }
}
