.mainpage {
  &__first {
    width: 100%;
    height: 100vh;
    z-index: -2;
    position: relative;
  }

  &__bg {
    width: 100%;
    height: 100vh;

    background: url(/assets/images/mainpage.jpg);
    filter: brightness(40%);
    color: #F2E7DE;
    background-size: cover;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;
  }

  &__container.container {
    padding-top: 10%;
    padding-bottom: 10%;
    color: #F2E7DE;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin-bottom: 20vh;
  }

  &__quote {
    font-size: 1.5em;

    &-p {
      &_single{
        ::before {
          content: '&laquo;';
        }
      }
    }
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  &__title {
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
  }

  &__subtitle {
    font-family: 'Times New Roman', Times, serif;
  }

  &__btn {
    display: inline-block;
    padding: 3px 20px;
    background: #333;
    color: #F2E7DE;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;

    &:hover {
      background: #4d4d4d;
    }
  }

  &__video {
    cursor: pointer;

    position: absolute;
    left: 10%;
    bottom: 145px;

    &-text {
      margin-bottom: 1em;
      cursor: pointer;
    }
    &-btn {
      max-width: 70%;
      cursor: pointer;
    }
  }

  &__about {
    background: #F2E7DE;
    color: #333;
    margin-top: -145px;
    padding-top: 145px;
    padding-bottom: 147px;
    clip-path: polygon(0 16%, 100% 0, 100% 100%, 0 100%);

    &-container {
      &_title.container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &_content.container {
        display: flex;
        justify-content: space-between;
      }
    }

    &-btn {
      margin-top: 2em;
    }

    &-line {
      width: 50%;
      border-bottom: 2px solid #333;
    }

    &-photo {
      &-block {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        margin-right: 10px;
      }
      &-image {
        max-height: 400px;
        margin-right: 2em;
      }
    }

    &-text-block {
      width: 50%;
      padding-left: 2em;
    }
  }

  &__cases {
    padding-top: 145px;
    padding-bottom: 147px;
    clip-path: polygon(0 0, 100% 18%, 100% 100%, 0 100%);

    color: #F2E7DE;
    background: #333;

    margin-top: -148px;

    &-container {
      &_title.container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2em;
      }
    }

    &-list {
      background: #434343;
      padding-top: 50px;
      padding-bottom: 50px;

      &-container.container {
        display: flex;
        justify-content: space-around;
      }

      &-item {
        display: block;
        width: 33%;
        border: 1px solid #333;
        color: inherit;
        text-decoration: none;
        padding: 50px;
        margin-right: 2em;

        &:hover {
          background: #333;
        }

        &:last-of-type {
          margin-right: 0;
        }

        &-name {
          margin-bottom: 2em;
        }

        &-image {
          width: 65px;
          margin: 0 auto;
        }
      }
    }

    &-text-block {
      width: 50%;
      padding-left: 0;
    }
    &-line {
      width: 50%;
      border-bottom: 2px solid #F2E7DE;
    }

    &-btn {
      display: inline-block;
      margin-top: 2em;
      background: #4d4d4d;

      &:hover {
        background: #666666;        ;
      }
    }
  }
}
