<section class="section section_light section_to-left about" id="about">
  <div class="container about__grid">
    <div class="about__grid-item">
      <div class="about__photo-place">
        <img src="assets/images/photo.jpg" class="about__photo-image" alt="">
      </div>
    </div>
    <div class="about__grid-item">
      <h2 class="caption caption_h2">
        Обо мне
      </h2>
      <p>
        Меня зовут Гольцова Наталья Николаевна.
      </p>
      <p>
        Рада приветствовать всех на моём сайте!
      </p>
      <p>
        Искренне надеюсь, что, заглянув на мой сайт, Вы найдете для себя что-то полезное и интересное.
      </p>
      <p>
        Я живу и работаю в городе Орле  Орловской  области, в муниципальном бюджетном дошкольном образовательном учреждении «Детский сад № 88 комбинированного вида».
      </p>
      <a href="#personal" class="btn personal_btn">Подробнее</a>
    </div>
  </div>
</section>
