<section class="section achievs" id="achievs">
  <div class="achievs__content">
    <div class="container">
      <h2 class="caption caption_h2">
        Мои достижения
      </h2>
      <p>
        Образование:
      </p>
      <ul>
        <li>
          2001 г.- Орловский Государственный Университет, Педагогика и методика начального образования. Учитель начальных классов.
        </li>
        <li>
          1998г. - Мезенский педагогический колледж, Преподаватель в начальных классах. Учитель начальных классов.
        </li>
      </ul>
      <p>
        Профессиональная  переподготовка:
      </p>
      <ul>
        <li>
          2018 г. - «Орловский государственный университет имени И.С. Тургенева» (дошкольное образование)
        </li>
      </ul>
    </div>
  </div>
  <div class="achievs__serts">
    <div class="container">
      {% include "./serts.njk" %}
    </div>
  </div>
</section>
