<section class="section section_dark contacts" id="contacts">
  <div class="container">
    <h2 class="caption caption_h2">
      Контакты
    </h2>
    <p>
      <a href="mailto:detsad_88@mail.ru">Напишите письмо</a>
    </p>
  </div>
</section>
