<section class="section gallery" id="gallery">
  <div class="container">
    <h2 class="caption caption_h2">
      Галерея
    </h2>
    <div class="swiper-container swiper-container_gallery">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <img src="assets/images/gallery/1.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/2.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/3.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/4.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/5.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/6.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/7.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/8.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/9.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/9a.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/10.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/11.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/12.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/13.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/14.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/15.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/16.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/17.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/18.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/19.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/20.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/21.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/21a.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/22.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/23.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/24.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/25.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/26.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/27.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/28.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/29.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/Screenshot_20191227-110652_WhatsApp.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/SnQHFSMmDJI.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/IMG_2638.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/IMG_2639.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/IMG_2640.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/IMG_2641.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/IMG_2653.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/IMG_2662.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/IMG_2663.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/IMG_2681.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/IMG_2686.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/IMG_2813.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/IMG_2814.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/IMG_2817.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/IMG_2819.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/IMG_2820.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/IMG_2822.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/IMG_2823.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/IMG_2825.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/IMG_2827.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/IMG_2830.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/DSC_0138.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/DSC_0143.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/DSC_0146.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/DSC_0149.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/DSC_0151.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/DSC_0153.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/DSC_0155.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/DSC_0161.jpg" class="swiper-image" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/gallery/DSC_0165.jpg" class="swiper-image" alt="" />
          </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
