<section class="section personal _hidden" id="personal">
  <div class="container">
    <h2 class="caption caption_h2">
      О личном
    </h2>
    <p>
      Замужем. Моя семья - мое богатство.  Семья моя главная опора и надежда.
    </p>
    <p>
      Мы с мужем воспитываем троих сыновей, безусловно, они – моя гордость. Это яркие, творческие, спортивные и умные личности. К счастью, я полностью разделяю их интересы. Более десяти лет мы занимаемся лепкой из глины при студии "Золушка" в Доме творчества Заводского района. Я работаю там вместе с детьми: леплю сувениры, панно, расписываю их; плету макраме, помогаю в оформлении детских работ. Занимаясь в студии лепки, сыновья являются неоднократными лауреатами и дипломантами конкурса Курнакова А.И., призерами международных и всероссийских художественных конкурсов
    </p>
    <p>
      В спорте старшие сыновья - победители городских, областных соревнований, первенства ЦФО по волейболу. Младший – неоднократный победитель городских и областных соревнований по настольному теннису. Старший сын длительный период занимался спортивными бальными танцами (победитель и призер разного уровня), вместе с ним объездили всю центральную Россию.
    </p>
    <p>
      Я во всем поддерживаю своих детей и активно участвую в их начинаниях. Продолжаю играть в волейбол (в прошлом - волейболистка), а т.к. младший сын увлечен настольным теннисом, освоила и эту науку, играем дома. Считаю нужным заложить в детях мощный культурно-эстетический и спортивно-оздоровительный фундамент.
    </p>
    <p>
      Очень люблю читать, вязать, увлекаюсь садоводством (на приусадебном участке разбили газон, клумбы, посадили туи и ели).
    </p>
    <p>
      Летом всей семьей мы путешествуем на машине: очень нравится Спасское-Лутовиново, Орловское полесье, Вятский Посад
    </p>
  </div>
</section>
