---
layout: mainpage
eleventyNavigation:
  key: Home
---

{% include "header.njk" %}
{% include "blocks/hello.njk" %}
{% include "blocks/about.njk" %}
{% include "blocks/personal.njk" %}
{% include "blocks/cases.njk" %}
{% include "blocks/achievs.njk" %}
{# {% include "blocks/teaching.njk" %} #}
{% include "blocks/news.njk" %}
{% include "blocks/gallery.njk" %}
{% include "blocks/contacts.njk" %}
